.quiz-home-main {
    width:80%;
}
.varela {
    font-family: varela round,sans-serif;
}
.new-black {
    color: #181a1e!important;
}
.white {
    color: #fff!important;
}
.darkest-grey {
    color: #777!important;
}
.mid-purple-container {
    background: #6a67ce!important;
}
.center-on-med-small {
    display: block;
}
a.inverted {
    color: #000;
    text-decoration: none;
}
.mat-card {
    background-color: whitesmoke;
    color: #000;
}
a .mat-card:hover {
    background-color: whitesmoke;
    color: red;
}
.subject-mat-card a{
text-decoration: none;
}
.dropdown-header {
    background-color: cornflowerblue;
}
.subject-list-font {
    font-size: medium;
}